[2013-07-06 07:38] yocontra commented on #1
Use replaceExtension from https://github.com/wearefractal/gulp-util

[2013-07-06 07:55] yocontra commented on #1
@funkytek has an example at https://github.com/wearefractal/gulp-coffee/blob/master/index.js#L14

[2013-07-06 07:56] phated commented on #1
Looks easy enough. Will do it when I wake up.
On Jul 6, 2013 12:55 AM, "Eric Schoffstall" notifications@github.com
wrote:

[2013-07-06 08:34] yocontra commented on #1
You probably want to do .html for non-client ones too

[2013-07-07 02:49] yocontra commented on #1
:+1:

[2014-01-10 01:23] edrex commented on #9
Nevermind. I looked at the tests and found that I can pass in locals using the `data` key. Still, a docs issue.

[2014-01-16 09:39] gisu commented on #8
Try this

[code]

[2014-01-21 00:32] phated commented on #10
I don't trust Jade to stay consistent through all of `1.x`.  Can you just change to `~1.1`?

[2014-01-21 00:33] phated commented on #8
I think I could change the `pretty` option to `true` by default, incase someone wants to pipe to a different HTML minifier, but I disagree with disabling options allowed by the compiler (see [gulp-less](https://github.com/plus3network/gulp-less#options))

[2014-01-21 00:43] phated commented on #9
Should I add `locals` as an alias to `data`?

[2014-01-21 08:48] homburg commented on #10
Sure

[2014-01-22 11:57] diammondore commented on #9
can you share the example code how to use `locals` with data `key`?

[2014-01-22 17:56] phated commented on #9
@diammondore I have no idea what you are talking about.

[2014-01-23 09:40] diammondore commented on #9
sorry, my previous comment is not enough to describe my issues

@rayfranco thanks, your code works, but as global data, I need little different

i use template inheritance

`layout.jade` is primary, which contains header and footer

[code]

i am trying to pass page title using variable `pageTitle`

`index` and `inner` pages using same template (layout.jade) except page title and page content in ma

[2014-01-25 00:04] phated commented on #8
On 2nd thought, I think relying on the Jade defaults is the best choice.  It reduces code complexity and doesn't confuse users.

[2014-01-30 16:54] phated commented on #12
Due to jade compilation being synchronous, I will probably have to add that try/catch in this module.  Thanks for catching that.

If you want to submit a PR, I will accept it asap.

[2014-02-01 19:16] baio commented on #12
Hi, I have a problem with handling such error, code bellow from gulp file, but it is invoked only after first exception, an watcher seems to stop reacting on changes of the file (though gulp doesn't exit from task)

[code]

[2014-02-04 02:21] phated commented on #12
Fixed in `0.4.1` which was just published to npm.

[2014-03-06 01:15] phated commented on #20
Can't this be installed on a per-project basis?  I don't really like forcing this dependency on everyone, especially because it leads to adding all the modules to support the different filters.

[2014-03-06 02:34] andyscott commented on #18
I am having the same issue. How is this resolved?

[2014-03-06 02:42] andyscott commented on #18
Gah! I figured it out. It was my mistake in reusing my pipe!

[2014-03-06 03:12] omarrr commented on #20
A per-project solution might be a better approach, however I have not been able to enable markdown cleanly without editing the gulp-jade pluging after install.

It looks like jade requires the markdown plugin to be installed in a path relative to the jade executable. Since the jade executable is inside the `gulp-jade/node_modules` folder, I had to manually copy the `marked` module as well. Definit

[2014-03-06 03:25] phated commented on #20
I just tested `marked` as a devDep alongside `gulp-jade` and it worked fine.  Not sure what the issue is.

[2014-03-06 19:00] omarrr commented on #20
Sounds like it's a problem with my configuration if you were able to get it to work. That's good news and something for me to review. thanks!

[2014-03-06 19:33] phated commented on #20
Alright. Going to close this for now. We can still discuss here if you can't get it working.

[2014-03-06 21:32] phated commented on #21
You are going to have to use some other gulp plugin to handle that use case.  This is outside the scope of the gulp-jade module.

I am unaware of any plugins that might help you.  Try looking for a namespace plugin or something similar.

[2014-03-12 19:30] phated commented on #22
This seems out of the scope of the gulp-jade module.  I am going to take some time to think about this.

[2014-03-12 19:58] gtg092x commented on #22
Understand - any thoughts on the best way to achieve async support and maintain the proper scope?

[2014-03-16 03:25] phated commented on #23
As you can see in #10 I don't trust the jade team to not break APIs and I believe in keeping the behavior of this module consistent between environments, so I will keep the `~`.

I will bump the version soon so you can have 1.3.  What features did they add?

[2014-03-16 03:25] phated commented on #23
I'd also be willing to take a PR.

[2014-03-16 03:26] phated commented on #22
What is the proper scope you are looking for?

[2014-03-16 06:58] ghost commented on #23
I'm curious -- Why do you think the external jade interface (`.compile` and `.render`) is going to change?  Other than the fact that the new project owner seems to be perfectly happy to "depreciate" features by just tossing them out the window in one day.  But he also seems to understand that it's only appropriate to do this on major version number changes.  At the rate he's incrementing the versi

[2014-03-16 16:37] gtg092x commented on #22
Blaine,

The need is around async locals that may be file dependent. This helps
me render large sites statically that may need to do something like
access web services or databases and might need different locals
depending on the file.

Let me know if that helps.

On 3/15/14, 8:26 PM, Blaine Bublitz wrote:

[2014-03-16 21:00] phated commented on #23
It's not only about the `compile` and `compileClient` APIs used internally by this module, but also about the output produced by this module.  If I already have to maintain this package due to not-ideal interfaces provided by the `jade` package, I want to make sure the output of compilation stays as consistent as possible.  If I were to specify `^1.2`, something might change in the output in versi

[2014-03-16 21:04] yocontra commented on #22
Big thumbs down on this. I'll post an alternative when I have my computer on hand

[2014-03-16 21:51] yocontra commented on #22
[code]

[2014-03-16 21:53] phated commented on #22
Thanks @Contra, I think he wanted access to the filename to make the decision on what locals to include.

[2014-03-16 21:54] yocontra commented on #22
Woops read this from a phone. Let me think about it a bit more and see if I can figure out an alternative

[2014-03-16 21:57] yocontra commented on #22
Want to share more about your use case @gtg092x? Can I see what your task looks like with your changes implemented?

You could possibly do something like this:

[code]

[2014-03-17 00:01] gtg092x commented on #22
Eric, a really  straightforward example would be asynchronously getting the
title of every page based on the filename. I can code up an example from a
computer in a little bit but I think I can achieve what I need through your
usage pattern here. Thanks for the advice.

I don't expect anyone to change their mind here so I will retract the pull
request.

Sent with AquaMail for Android
http://www.aq

[2014-03-17 00:05] yocontra commented on #22
@gtg092x I'm not 100% against your use case but I think we can solve it generically so we don't have to implement this same pattern in every single plugin.

[code]

where wrapper is a module that constructs a new child stream per file using the arguments returned from the function?

[2014-03-17 00:40] phated commented on #22
I agree with @Contra - I can't think of a way to do it with currently available gulp modules, but I think something with the API he suggested is needed because it isn't a problem specific to jade.

[2014-03-20 17:21] jh3y commented on #24
Sorted it, middle of the night tiredness defeated me.

@jh3y

[2014-04-05 00:26] colynb commented on #22
I've added a similar feature to gulp-swig, if it's not proper for gulp-jade then it's not proper for my plugin either.  It's set up so that if you have a template and an accompanying JSON file of the same name (ex. template.html, template.json) you can optionally include the data file and import it as local variables. If you can think of a way to achieve that in a decoupled way, I'll be happy to u

[2014-04-07 18:23] phated commented on #22
Closing in favor of a generic solution like @contra suggested

[2014-04-09 01:31] phated commented on #23
Case in point, updating to 1.3.1 broke one of my tests.  I will be fixing it and publishing a new version soon.

[2014-04-09 02:46] phated commented on #23
Fixed by https://github.com/phated/gulp-jade/commit/95147f49ae17ad9a355f3146609917be23c55c09 and published as 0.5.0

[2014-06-08 18:09] bhongy commented on #20
Tested and it works as @phated said.

All you have to do is, `npm install --save-dev marked` in your project root (as adding another gulp plugins or node modules). Do not have to make any change to your gulpfile. Rerun gulp and it will compile jade templates with :markdown filters applied without error.

Same issue [here](https://github.com/gruntjs/grunt-contrib-jade/issues/38) in grunt-contrib-ja

[2014-08-01 13:29] OClement commented on #18
@andyscott Care to elaborate? I'm having the same error (in a different context) but knowing what your mistake was might help me (and others for sure) solve our own issues

Thanks

[2014-08-21 00:50] juniorplenty commented on #18
@OClement Not sure if this is your issue, but I was getting this error when I was following the (erroneous) gulp-filter examples and creating filters outside of my task. So when watch triggered the task that used those filters, the filters were trying to re-use their internal pipes (I'm assuming,) hence the error.

Moving filter definitions (`var filter = filter('some/path')`) inside my task solve

[2014-08-21 02:28] OClement commented on #18
@juniorplenty
Ooooh I am doing just that, would be great if it can be fixed with just this! Thanks, I'll try that tomorrow first thing in the morning!

[2014-09-03 12:08] emirotin commented on #18
@juniorplenty thanks :)
I had a similar issue with a different plugin.

[2014-10-07 10:22] gaving commented on #18
@juniorplenty :+1: cheers, that fixed my issues!

[2014-10-08 19:43] OClement commented on #18
@juniorplenty Sorry for the very big delay before I got back here!
Your solution did work perfectly, thanks for your help!

[2014-11-21 21:22] phated opened #60 "1.0 and stability: locked"
Now that we accept custom jade instances, I don't know if there are any reasons to add extra features to this.  If nothing comes up before the next jade release, I will be bumping this to 1.0 and locking the API.

[2014-12-05 16:12] Jamesgt commented on #12
Looks like this happens again. gulp 3.8.10, gulp-jade 0.9.0

[2014-12-08 19:41] phated commented on #60
Jade released. Does anyone think this shouldn't be API frozen?

[2014-12-17 08:15] Blaze34 opened #68 "Jade version"
Why You not use latest jade version?
From dependencies:
"jade": "1.1 - 1.7"
but now available jade 1.8.2

[2014-12-17 20:57] phated commented on #68
see https://github.com/phated/gulp-jade/issues/65#issuecomment-66173432

We are contemplating freezing API on the next bump which will include a jade dep update. I don't trust jade to follow semver, so we bump and run all the tests before publishing.

[2014-12-18 16:31] alexrqs commented on #12
@Jamesgt `true` but is fixed in `"gulp-jade": "^0.10.0",`

[2014-12-29 20:56] bsr203 commented on #60
Thanks for the option to use custom jade, current API works great for me.

[2015-01-19 13:00] olanod opened #72 "extend file data with locals"
The context passed to a jade template is either the locals object or the data object (`opts.compile(contents, opts)(opts.locals || opts.data)`). It would be better if its the combination of both.
My use case is, I use gulp-data to read a json file with the strings of my template(for translating templates) and I also use the locals object to set `{dev: true}`.

[2015-01-19 19:08] phated commented on #72
I think that would lead to more problems than it solves.  Let's see what other people have to say.  Btw, you can use `gulp-data` with a callback to attach your `dev` property.

[2015-01-20 22:34] #68 closed, assigned to nobody

[2015-01-20 22:44] phated commented on #68
Published as 0.11.0.  Supports jade through 1.9

[2015-01-20 22:45] phated commented on #60
Only hangup on this is #72

[2015-01-21 09:46] shinnn commented on #72
- As @phated said, I always use gulp-data to [deeply extend](https://github.com/unclechu/node-deep-extend) locals with file.data and that will do. But I think it's more helpful that gulp-jade take it on.
- Though @olanod titled this issue `extend file data with locals`, the behavior I expected is `extend locals with file data`.

[2015-01-21 09:59] shinnn opened #74 "The case when the file object doesn't have `path` property"
I know it's the very, very edge case, but vinyl file object does not always have `path` property.

In such a case, I think gulp-jade should (1) set a temporary `filename`, or (2) emit an error.

[2015-01-21 17:55] phated commented on #72
@shinnn if there is an easy way to opt-in to this behavior, why do you think we should include it in the core of this module?  Deeply extending is expensive and would have to happen on each file through the stream which seems bad for default behavior.

[2015-01-21 17:56] phated commented on #74
That seems really weird.  Why would a vinyl object not have a path?

[2015-01-21 22:36] shinnn commented on #74
For example, the vinyl object is created using [vinyl constructor](https://github.com/wearefractal/vinyl) without `path` option, the object doesn't have `path` property.

[code]

[2015-01-21 22:41] phated commented on #74
K.  I don't think this is something every plugin should have to manage.  It falls upon the lines of piping a `.js` file to a CSS beautifier.  If the end-user is doing something like this, they should use `gulp-rename` or `gulp-if` to deal with that edge case.

[2015-01-21 22:41] #74 closed, assigned to nobody

[2015-01-21 22:43] shinnn commented on #74
You're right.

[2015-01-21 22:52] shinnn commented on #72
@phated I didn't care about the case when the project has many `.jade` files. OK, now I don't think gulp-jade doesn't have to include extending behavior. I'll continue using gulp-data in that case.

[2015-01-22 02:51] sbmegaman opened #75 "input pattern requires double-escaping"
See there because already detailed bug report in a different jade project is up
https://github.com/jadejs/jade/issues/830

[2015-01-22 04:52] phated commented on #75
Not a gulp-jade issue

[2015-01-22 04:52] #75 closed, assigned to nobody

[2015-01-22 04:53] phated commented on #72
@shinnn could you send a PR documenting your usage of gulp-data + extending in the Readme? I think that would suffice for this.

[2015-01-22 12:34] shinnn commented on #72
@phated Sure. Is it urgent?

[2015-01-22 16:58] phated commented on #72
@shinnn nope, just whenever you have a spare moment.  Thanks!

[2015-02-13 13:14] JosefJezek opened #77 "Using markdown-it"
https://github.com/jadejs/jade/issues/1870

[2015-02-13 17:51] phated commented on #77
We already support filters. See https://github.com/phated/gulp-jade/releases/tag/v0.10.0

[2015-02-13 17:51] #77 closed, assigned to nobody

[2015-02-13 23:08] CosAnca opened #78 "markdown filter adds id to headings"
E.g.

[code]

renders as

[code]

[2015-02-13 23:40] phated commented on #78
This has nothing to do with gulp-jade.

[2015-02-13 23:40] #78 closed, assigned to nobody

[2015-02-16 18:54] #72 closed, assigned to nobody

[2015-02-16 18:55] phated commented on #72
I've added an example in the gulp-data section on how to extend your dynamic data with locals.

[2015-02-16 19:05] phated commented on #60
Done and done. Publishing as soon as the tests run.

[2015-02-16 19:05] #60 closed, assigned to nobody

[2015-02-24 20:09] codebling opened #79 "gulp-jade quits without finishing task?"
I have the following gulp task:

[code]

Which is trying to compile this jade file:

[code]

But when I try to run the task, the jade task quits without finishing:

[code]

Apologies in advance if I've missed something obvious here. I can't tell if this is a gulp-jade issue, or quite what I am doing wrong. It looks as if there is surpressed error.

[2015-02-24 20:12] phated commented on #79
This isn't a bug in gulp-jade.  Please post support questions to stackoverflow.

[2015-02-24 20:12] #79 closed, assigned to nobody

[2015-02-24 20:15] codebling commented on #79
Thanks. Should have done that first.

[2015-03-04 18:57] scarnago opened #80 "Problems with includes, mixins and partials"
When gulp render jade show arror if the file are using includes, mixins or partials, how I fix this... what's the correct setting?

[2015-03-04 18:58] phated commented on #80
Please direct support questions to stack overflow

[2015-03-04 18:58] #80 closed, assigned to nobody

[2015-03-12 15:18] OnkelTem commented on #1
I use [gulp-rename](https://www.npmjs.com/package/gulp-rename) for setting destination extensions.

Example:

[code]

[2015-03-26 13:42] jansensan opened #82 "How to keep trailing whitespace"
Currently, when using gulp-jade to compile a template into HTML, this

[code]

loses its trailing whitespace. I currently opened [a StackOverflow question](http://stackoverflow.com/questions/29276580/how-to-keep-trailing-whitespace-with-gulp-jade) with more details about this.

If I understand the Jade documentation properly, the trailing whitespace should not be removed. Is there an issue with gu

[2015-03-26 16:53] phated commented on #82
We don't do any modification of the results from jade.  Stackoverflow or the jade repo are probably the places to ask.

[2015-03-26 16:53] #82 closed, assigned to nobody

[2015-03-31 10:43] iduuck opened #83 "When crashing with plumber, jade task is killed"
Currently I have the following problem: When I am including an partial and an compilation error comes up, the task is killed and does not update when the file is changing again. I am already using plumber.

[2015-03-31 11:08] iduuck commented on #83
**Correction:** The task is just not finishing and hanging in a "loop"..

[2015-03-31 18:47] phated commented on #83
Not sure what you want me to do.  This plugin is written just like every other one, so it's not a problem with this module.  gulp-plumber is a hack on streams, so I would start there, if I were you.

[2015-03-31 18:47] #83 closed, assigned to nobody

[2015-04-08 07:30] mattidupre commented on #83
@iDuuck:

[code]

There's something funky going on with the error object Jade is handing out that prevents the stream from ending.

[2015-04-09 17:41] pruett opened #84 "Uncaught ReferenceError: jade is not defined"
I'm getting the above error message when trying to compile a jade client template with a locals object. I think this has to do with including jade runtime (https://github.com/jadejs/jade#browser-support) but I'm not sure how to best inject the runtime script to cooperate with my client templates. My workflow goes something like this

**compile .jade files into js functions**

[code]

**example of

[2015-04-10 16:49] pruett commented on #84
i ended up attaching it to `window` like so:

[code]

[2015-04-10 16:49] #84 closed, assigned to nobody

[2015-04-18 14:26] ivanjuras opened #85 "Cannot read property 'length' of undefined"
This is my Jade task:

[code]

This is my metadata.js file:

[code]

This is my RSS feed template:

[code]

Now, whenever I try to to compile, I get this error:

[code]

Can anyone tell me why? Why is Jade not able to read the contents of the array?

Thank you.

[2015-04-18 18:41] phated commented on #85
Support questions should go to StackOverflow.

One thing you could try is:

[code]

[2015-04-18 18:41] #85 closed, assigned to nobody

[2015-04-18 21:16] ivanjuras commented on #85
Still doesn't work, thanks anyways.

[2015-05-28 06:37] hbin commented on #18
@juniorplenty You save a newbie to gulp!

[2015-06-01 07:39] timaschew opened #88 "SyntaxError is thrown too late and hard/not to understand"
I have some gulp tasks, first I compiling the jade templates, then some static copy tasks are executed.

My output is this:

[code]

But immediately after this line I get this error below. If I disable the **colleciton-templates** task the error disappears. And the error disappears also if I remove the line `pipe(jadeGulp())`

The other issue is that I don't understand what's the problem. I have n

[2015-06-01 18:24] phated commented on #88
The stack once you start the jade compile is still intact and doesn't include any stream modules, so throwing sync wouldn't get you any more information.  I suggest you reduce the case to just jade and submit an issue to jade.

[2015-06-01 18:24] #88 closed, assigned to nobody

[2015-06-23 09:27] zjuasmn opened #90 "please update jade version in package.json"
Jade is 1.11.0 now. Please update jade version in package.json so that we could use new features in jade. Thank you for your awesome work!

[2015-06-23 18:05] phated commented on #90
Please see https://github.com/phated/gulp-jade/pull/89 - we support custom jade versions through the `jade` option.  We typically don't bump jade for awhile because they often release bugs in newer versions and we wait for them to shake out.  Feel free to use the jade option and file tickets on the jade repo if you find any problems; the more people using it will find the bugs faster.  Thanks.

[2015-06-23 18:05] #90 closed, assigned to nobody

[2015-07-03 19:33] ghost opened #91 "Using jade-filters with gulp-jade"
I'm trying to use [jade-filters](https://www.npmjs.com/package/jade-filter) with gulp-jade, but have no idea in how to get it working.

My current setup is:

[code]

Could someone help me with this?
It have to be a way...

[2015-07-03 19:53] phated commented on #91
Support questions should be directed to StackOverflow.  Also, filter support was added and documented in 0.10 https://github.com/phated/gulp-jade/releases/tag/v0.10.0

[2015-07-03 19:53] #91 closed, assigned to nobody

[2015-07-06 19:04] davidbwaters opened #93 "Attributes complile into html comments"
I'm having an issue where angular attributes are compiling incorrectly.
`li(ng-repeat='awesomeThing in main.awesomeThings')` is compiling to
 ``
Any idea what could be causing this issue?

[2015-07-06 19:07] #93 closed, assigned to nobody

[2015-07-10 13:11] hdavidzhu opened #94 "What are locals?"
I'm a bit unclear of what `locals` are in the documentation.

[2015-07-12 02:40] phated commented on #94
Support questions should be directed to StackOverflow.  If you'd like to submit a PR that adds more context, I'll consider it.

[2015-07-12 02:40] #94 closed, assigned to nobody

[2015-07-17 22:15] delch opened #95 "shasum check failed"
for npm install --save-dev gulp-jade i got:

npm ERR! Darwin 14.4.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "--save-dev" "gulp-jade"
npm ERR! node v0.12.7
npm ERR! npm  v2.11.3

npm ERR! shasum check failed for /var/folders/vr/y2cdyr7948b665vz7v23qppm0000gn/T/npm-8388-7678803c/registry.npmjs.org/acorn/-/acorn-1.2.2.tgz
npm ERR! Expected: c8ce27de0acc76d896d2b1fad3df588d9e82f014
npm ERR

[2015-07-17 22:16] phated commented on #95
This has nothing to do with this package. Contact npm

[2015-07-17 22:16] #95 closed, assigned to nobody

[2015-07-30 08:04] dylanjha opened #96 "unexpected token "pipeless-text""
I'm getting this error with one of my templates:

[code]

At first glance it appears this is an error in github.com/jadejs/jade.  It might be, but I am also using jade to server templates with express, and when going through the express router, the template complies just fine with no errors.

I tried being explicit about the jade instance that gets used by gulp:

[code]

Still, no luck.  Key quest

[2015-07-30 08:06] phated commented on #96
Support questions should be directed to stack overflow. This is a thin wrapper around jade

[2015-07-30 08:06] #96 closed, assigned to nobody

[2015-07-30 08:06] dylanjha commented on #96
Thanks

[2015-08-19 18:00] julianpinedayyz opened #97 "Is it possible to have a simple json example??"
Using a simple data.json file to populate a simple test case??

[2015-08-19 20:06] phated commented on #97
Support questions should be directed to stack overflow.

[code]

If you want to submit a PR that adds this example to the readme with some description, I will review it.

[2015-08-19 20:06] #97 closed, assigned to nobody

[2015-09-07 18:10] zhekaus opened #99 "Is it possible to use filters?"
I've tried to embed stylus styles into jade-file, but unsuccessful:

[code]

I’ve got an error: Cannot find module 'stylus'

I've ried coffee with script tag - the same thing.

[2015-09-07 21:03] phated commented on #99
Please read the docs.  It is discussed right in the [options](https://github.com/phated/gulp-jade#options) section.

[2015-09-07 21:03] #99 closed, assigned to nobody

[2015-09-27 00:41] jrock2004 opened #100 "Stop compiling layout file"
Got the plugin working but there is one problem I need help with. Its compiling the layout file to html when it really should not be. Any thoughts on how to fix this?

[code]

[2015-09-27 04:41] adamchenwei opened #101 "Is there way to build the jade into html without minifying the result html file?"
I currently do
gulp.task('build-jade-html', function() {
    console.log("build-jade-html ...");
  gulp.src('./*.jade')
    .pipe(jade())
    .pipe(gulp.dest('./'))
});

but it's result html is always minified, is there way to tell it remain structured html after build?

Thank you

[2015-09-27 04:42] phated commented on #100
This is not a support forum.  Please direct your questions to stack overflow and look into negation glob patterns to use with gulp.src.

[2015-09-27 04:42] #100 closed, assigned to nobody

[2015-09-27 04:43] phated commented on #101
This is not a support forum.  Please direct your questions to stack overflow.  All options are passed directly to jade, so look through their docs also.

[2015-09-27 04:43] #101 closed, assigned to nobody

[2015-09-30 12:47] petehotchkiss opened #102 "accessing jade document variables upstream"
Is it possible to access varialbes defined in a .jade template

i.e - like
- var page = { type: "foo", lipsum: 'bar' }

in the gulp stream?

[2015-09-30 16:51] phated commented on #102
No.  I don't believe this information is exposed by the jade compiler :frowning:

[2015-09-30 16:51] #102 closed, assigned to nobody

[2015-10-15 15:10] diazemiliano-zz opened #103 "Dependencies error on install."
Hi i'm trying to install `gulp-jade v1.1.0` with `node v0.10.36` and `npm v3.3.6` and i've the following erros and I can't compile jade files.

[code]

[2015-10-15 19:07] phated commented on #103
This looks to have installed gulp-jade but you have warnings that are related to your package.json and some dependency named "Unsupported" which is super weird.   Anyway, this is a problem with your environment/npm, not gulp-jade

[2015-10-15 19:07] #103 closed, assigned to nobody

[2015-10-21 12:35] marcobarbosa opened #105 "gulp-jade with gulp-data not throwing errors"
Hi,

I'm having issues where the gulp-data plugin is not giving me compilation errors.

Please see my compile-jade task below.

[code]

If I run `gulp compile-jade` I simply get the "task finished" in the terminal. Running `jade <template>` manually in the terminal gives me the syntax error that I want.

If I remove the `plugins.data` pipe part, then running `gulp compile-jade` again will give me

[2015-10-21 19:16] phated commented on #105
Support questions should be directed to StackOverflow

[2015-10-21 19:16] #105 closed, assigned to nobody

[2015-10-22 06:26] marcobarbosa commented on #105
http://stackoverflow.com/questions/33274613/gulp-jade-with-gulp-data-not-throwing-errors

[2015-10-22 15:25] pudgereyem commented on #20
@bhongy I would appreciate a quick guide on how to get jade filters to work with gulp-jade. :+1:

[2015-10-26 05:00] geyang opened #106 "problem with jade fitlers (jstransformer-scss)"
Hi, thanks in advance!

I am using the `jstransformer-scss` in my jade. Here is how I am using the filter in my express server. Somehow the same syntax does not work with gulp-jade
### Server setup that works:

[code]
### gulp-jade setup that does not work:

The same setup with gulp-jade does not work:

[code]

What could be wrong?
### stack trace:

[code]

[2015-10-26 06:14] geyang commented on #106
This is resolved after I read the source code of jade:

https://github.com/jadejs/jade/issues/2145

[2015-10-26 06:14] #106 closed, assigned to nobody

[2015-11-06 03:00] red2678 opened #107 "TypeError: dest.on is not a function"
I just upgraded all my packages. Now runing gulp-jade ver 1.1.0 and unforuntally I am now getting this error when I run my gulp task.

**TypeError: dest.on is not a function**

Could this be related to gulp-jade?

Here is my task, it is a basic task with no options:

[code]

Console Output:

[code]

[2015-11-06 03:02] #107 closed, assigned to nobody

[2015-11-06 03:02] red2678 commented on #107
Please disregard

[2015-12-16 05:23] Rush opened #108 "Source map support"
Would be nice if an error that occured in the compiled JS file, mapped to the original `.jade` file

[2015-12-16 19:27] phated commented on #108
This module is a tiny wrapper around https://github.com/pugjs/jade and doesn't provide any functionality that isn't provided in that library.

[2015-12-16 19:27] #108 closed, assigned to nobody

[2015-12-26 18:34] n8agrin commented on #18
This also helped me with gulp-filter. Non-obvious and really frustrating. Thank you!

[2015-12-29 20:43] Denis535 opened #109 "Producing multiple html files from one jade template"
See my pull request: https://github.com/phated/gulp-jade/pull/113

[2016-01-28 17:52] coverslide opened #110 "jade is now pug"
Just putting this here since this will need to be transitioned to pug soon.

https://github.com/pugjs/jade/issues/2184

[2016-02-01 20:39] Jamesgt commented on #12
Sorry that I'm repeating myself, but looks like this happens again.
gulp 3.9.0, gulp-jade 1.1.0

[2016-02-01 22:24] phated commented on #12
Put an error handler on your stream...

[2016-03-03 08:03] fynncfchen opened #111 "Add new line in end of file"
In my source file, I use to add a new line in the end of file to prevent git "No Newline at End of File",
so I wish Jade or Pug can add new line for generated files.

[2016-03-03 17:30] phated commented on #111
This isn't something that belongs in this plugin.

[2016-03-03 17:30] #111 closed, assigned to nobody

[2016-03-09 00:05] isaactzab opened #112 "nested objects variable breaks within mixin"
I have a object variable
if I add an object element this works fine

[code]

but if I try to add dynamically in mixin then this fail

[code]

[code]

Please, how can I solve this?

[2016-03-09 00:05] isaactzab commented on #112
Is this an jade issue?

[2016-03-09 02:55] phated commented on #112
Yep, jade issue.

[2016-03-09 02:55] #112 closed, assigned to nobody

[2016-03-25 19:48] ChapDaddy65 opened #1 "Error: EISDIR: illegal operation on a directory, open '*filepath*' at Error (native)"
Here's what I have in my gulpfile to process Pug:

[code]

I have tried multiple iterations of the destination folder `./public` `./public/` `/public/` `/public` , etc. and I always get this error:

[code]

What am I doing wrong?

[2016-03-26 00:30] jamen commented on #1
Hey, thanks for reporting this.

I don't think you are doing anything wrong, seems to be a bug with gulp-pug.  I'll look into it now.  :)

[2016-03-26 00:41] jamen commented on #1
I coped your gulpfile, and mimicked the directories...  I get no error and everything seems to work fine.

[2016-03-26 13:39] ChapDaddy65 commented on #1
It was an error on my end... I didnt realize that gulp created an folder named `index.html` *facepalm*
Everything works now.

Sorry & Thank you.

[2016-03-26 13:40] #1 closed

[2016-03-30 19:22] jamen opened #2 "Make pug a peer dependency"
I'd like to have `pug` be a peer dependency instead.  So that way `gulp-pug` can be _version agnostic_.

[2016-03-30 21:33] #109 closed, assigned to nobody

[2016-03-31 03:27] #2 closed

[2016-04-07 15:52] ForbesLindesay opened #4 "Doesn't pass `filename` through by default"
gulp-pug should extend the options with a default `filename` matching the source filename.  That way `include` and `extends` would work correctly with relative paths.

[2016-04-07 17:39] jamen commented on #4
Hey, thanks for reporting this.  Seems like it was causing a little bit of confusion.  I'll patch it.

[2016-04-08 15:00] #4 closed

[2016-04-10 16:13] artem-malko commented on #110
@phated is there any news?)

[2016-04-11 20:52] lawrence79 opened #8 "Not able to include .pug files"
I'm trying to import _header.pug and _footer.pug into _layout.pug but every time I run my gulp task.
[code]

I get `TypeError: Cannot read property 'replace' of undefined`

If I rename them to `.jade` it works fine.

[2016-04-11 23:14] jamen commented on #8
Hello, thanks for reporting.  Did you install `pug` alongside `gulp-pug`?  You should get a unmet `peerDependencies` warning.
[code]
`gulp-pug` is a wrapper over the version of pug you want to use, so it is not included.

[2016-04-12 13:36] lawrence79 commented on #8
That worked! Thanks very much @jamen .

[2016-04-12 13:38] jamen commented on #8
No problem. :D

[2016-04-12 13:38] #8 closed

[2016-04-13 08:11] 3ilguun opened #116 "Compiles unchanged .html files"
Is there any option? I have lots of templates. Everytime when i change my template compiles all files start to finish.

[2016-04-15 02:27] jamen opened #9 "Move away from util._extend"
`util._extend` is being deprecated in Node v6.

[2016-04-16 15:48] jamen commented on #116
That is how gulp inherently works.  Each file is created into a vinyl, then passed down a stream to the plugin individually.  I think it would ultimately be more costly to check each time...  Even if not, don't think it is very applicable, since if you are running gulp you likely want things to build.

If you wanted to compile them more individually, you could setup different tasks for a different

[2016-04-17 14:23] Dafrok opened #10 "gulp-data cannot work well with gulp-pug"
Following the document of gulp-data, I tried to inject some variables into my pug template, but nothing happend.No data was injected and no errors in console.
Then I use 'gulp-jade' instead of 'gulp-pug', the problem has gone.

pug template:
[code]

gulpfile.js
[code]

[2016-04-17 18:17] jamen commented on #10
I will take a look, thanks.

[2016-04-17 20:03] #10 closed

[2016-04-17 20:24] herrbischoff opened #12 "Quits out of gulp-build on error, although plumber is used"
Excerpt from my `gulpfile`:

[code]

Whenever `pug` encounters an error, the whole build is quit.

[code]

The expected behavior due to `plumber` would be to output the error but not to interrupt the build process. I set up the error processing this way so I wouldn't have to restart `gulp` on every little hickup.

Am I doing something fatally wrong or is this related to how this plugin (mis)behave

[2016-04-17 21:05] jamen commented on #12
I do not have experience with plumber, but `gulp-pug` passes on errors normally (with `PluginError` in the callback).

Perhaps it is because it also always passes on the HTML too:
[code]

Not sure how plumber detects errors, but maybe it is not working correctly because the contents exist...  Maybe this would be more suitable:
[code]

This is probably ultimately better behavior anyways.  Seems mor

[2016-04-17 21:25] jamen commented on #12
Also worth mentioning that `PluginError` will be deprecated, but after looking the gulp issues it doesn't seem like there is a viable alternative quite yet.

[2016-04-17 21:27] jamen commented on #12
Oh wait, now relooking at this issue, it's because `pug` throws an error that I'm not catching.

[2016-04-17 21:28] jamen commented on #10
This will be introduced in the next version (after I fix the other issues).  Thank you.  :)

[2016-04-17 21:37] #9 closed

[2016-04-17 21:51] #12 closed

[2016-04-17 21:59] jamen commented on #12
Released a new version.  It should work now.

[2016-04-18 00:15] herrbischoff commented on #12
Indeed, it works a expected now. Thank you very much!

[2016-04-18 01:58] jamen commented on #10
Released that new version a little while ago by the way.  Should work now.

[2016-04-18 03:00] Dafrok commented on #10
Thank you for your great work!

[2016-04-19 08:41] 3ilguun commented on #116
`gulp-changed` worked for my problem. But thanks!

[2016-04-19 08:41] #116 closed, assigned to nobody

[2016-04-19 22:59] coverslide commented on #110
Looks like the update is to use this: https://www.npmjs.com/package/gulp-pug Closing this, and @phated should post a deprecation notice.

[2016-04-19 22:59] #110 closed, assigned to nobody

[2016-04-19 23:08] phated commented on #110
That's not the solution and this isn't deprecated.

[2016-04-21 05:35] jamen opened #18 "Peer dependencies idea was stupid"
I realized that the `peerDependencies` package of `pug` is kind of stupid.  I'd prefer something like:

[code]

[2016-04-21 05:51] jamen commented on #18
Unfortunately `pug@*` does not get the actual latest version, as it excludes tags...  Which results in errors.  For now it will be `pug@latest` with an option to pass in a custom `pug` module.

[2016-04-21 05:58] #18 closed

[2016-04-26 02:54] kassiansun opened #20 "pipe(pug().on('error', handle(e)) not work?"
gulp.watch will not watch any more when errors occurred, not like gulp-webpack and other gulp plugins

[2016-04-26 04:02] jamen commented on #20
Thanks for reporting.  I'll look into the issue.

[2016-04-26 04:34] jamen commented on #20
This appears to be the expected behavior:
[code]
I was able to listen to errors on `pug()`:
[code]

Could you post code?  I might be able to reproduce better, if this actually is an issue.

[2016-04-26 07:03] kassiansun commented on #20
[code]
then

[code]

gulp.watch should rebuild the pugs when the syntax error fixed, but it didn't

[2016-04-27 07:47] kassiansun commented on #20
This is the gulp's behavior and should be handled by gulp-plumber, sorry to disturb..

[2016-04-27 07:47] #20 closed

[2016-04-27 07:58] jamen commented on #20
No problem.  Glad you figured out your issue.

[2016-04-27 19:34] johndeighan opened #21 "Extraneous > in output file"
Using gulp-pug version 3.4.1, I'm getting this as the last line of the output file:

<html>>

So, there's an extra > character. Furthermore, there isn't a line termination character (this is under Windows 10, so I'm expecting a terminating CR LF pair).

After further experimentation, the problem above is intermittent. For example, my input file is named index.pug. I created an exact copy and named

[2016-04-27 19:36] johndeighan commented on #21
I guess I should have viewed the preview. The last line of the file is, in fact:

`<html>>`

[2016-04-27 19:44] jamen commented on #21
I'm not so sure this is an error in `gulp-pug` itself since this is a light wrapper over `pug`.  Keep in mind that `pug@latest` is actually still an alpha version, so this could likely be a bug within `pug@2.0.0-alpha6` (assuming that's the version you have)...

Could you try compiling `index.pug` from a package like [`pug-cli`](https://www.npmjs.com/package/pug-cli)?  If the error persists then i

[2016-04-28 17:38] phated opened #22 "blacklist / possible collaboration"
This module is being blacklisted due to being a duplicate of https://github.com/phated/gulp-jade - we have a pull request open to handle the jade -> pug rename that we will be merging.  Would you like to take over gulp-jade instead?

[2016-04-28 20:54] jamen commented on #22
This is my first project where I actually maintain something people consistently use and report directly to, so I think it is more valuable for me to keep it than to hand it over...  It's unfortunate that you're blacklisting it just because it is a "duplicate"...  I'm only 15, so I think it is a small experience that helps me understand how to maintain a project.

Thanks for the offer, but I think

[2016-04-28 20:54] #22 closed

[2016-04-28 21:32] phated commented on #22
Oh, I meant that I would transfer it to you, but it would maintain all the support people have come to expect from gulp-jade.  I'm happy handing it off to you.

[2016-04-28 21:40] jamen commented on #22
Oh, sorry for misunderstanding.

I think that it is probably best to have the support be equal, but the thing is, I like having this repository on my profile.  I think I'm more interested in making a compatible API so people can transition easier...  I was originally going to do that, but I didn't want to just copy your code.

[2016-04-28 21:49] phated commented on #22
@jamen I'm still confused.  You can have the gulp-jade (probably renamed to gulp-pug) repository on your profile (because it would be transferred to you) and you can make changes as you see fit.

[2016-04-28 21:50] phated commented on #22
@jamen it would even come with the stars/watchers/etc that gulp-jade already has

[2016-04-28 21:50] jamen commented on #22
Oh okay,  I wasn't aware you were going to transfer it.  That would be awesome!  Thank you.  :)

[2016-04-28 21:50] jamen commented on #22
So what does it entail?

[2016-04-28 21:53] phated commented on #22
@jamen I can transfer gulp-jade to your "jamen" account and it will add me as a collaborator, you can then change the name, etc.  I will add you to the gulp-jade npm package also.

[2016-04-28 21:58] jamen commented on #22
Okay, that sounds good.  I can go ahead and rename this one and deprecate.

[2016-04-28 22:00] phated commented on #22
perfect, I sent the transfer request

[2016-04-28 22:05] jamen commented on #22
Thank you :o

I went ahead and added you as a collaborator to the gulp-pug package.

[2016-04-28 22:19] jamen commented on #21
I'm closing this issue since me and the owner of gulp-jade decided to collaborate on the old gulp-jade package to make to make to make the API and support compatible in gulp-pug.  So these versions will be deprecated.

[2016-04-28 22:19] #21 closed

[2016-04-29 01:38] jamen commented on #22
@phated: One more question.  How am I supposed to handle the licensing?  Do I leave it as your name because it is all of your work, or do I switch it to me?

[2016-04-29 04:39] phated commented on #22
Lodash does it by mentioning the previous license/licensor - see https://github.com/lodash/lodash/blob/master/LICENSE#L3-L4

[2016-04-30 16:20] ozluy opened #23 "include jade file gulp-pug 2.0"
I use now version 2.0 and I did not have this issue with version 1.3.0 but  now **include** jade file creates **text** instead of **code block** of pug

### index.pug
[code]

### footer.jade
[code]

### html

[code]

[2016-04-30 22:45] jamen commented on #23
Hello, thanks for reporting.  Me and the owner of gulp-jade actually recently came to a compromise where the old gulp-jade package is going to be renamed and repurposed for pug.  That should make support from gulp-jade equal to the new coming gulp-pug.

[2016-05-02 12:20] ozluy commented on #23
I changed your package(**gulp-pug**) with **gulp-jade**, and problem solved
cheers

[2016-05-09 00:58] theskillwithin opened #24 "Cannot assign to read only property 'cwd' of !src/**/_*.pug"
[17:47:47] 'pug' errored after 342 μs
[17:47:47] TypeError: Cannot assign to read only property 'cwd' of !src/**/_*.pug
at Object.gs.createStream (/Users/Austin/Projects/heartcup/node_modules/gulp/node_modules/vinyl-fs/node_modules/glob-stream/index.js:19:46)
at Object.gs.create (/Users/Austin/Projects/heartcup/node_modules/gulp/node_modules/vinyl-fs/node_modules/glob-stream/index.js:68:42)
at Gul

[2016-05-09 23:55] jamen commented on #24
Thanks for reporting this.  The old `gulp-jade` plugin is actually in the process of renaming, and these old `gulp-pug` versions will be deprecated.  You'll be able to use the new `gulp-pug` once this is merged: https://github.com/jamen/gulp-jade/pull/117

[2016-05-10 01:57] theskillwithin opened #118 "TypeError: Cannot create property 'cwd' on string '!src/**/_*.pug'"
[code]

gulp config:

[code]

[2016-05-10 02:01] theskillwithin commented on #118
my bad:

fix:
gulp.src(['src/**/*.pug','!src/**/_*.pug'])

[2016-05-10 02:01] #118 closed, assigned to nobody

[2016-05-10 02:02] theskillwithin commented on #24
my bad:

needs to be array with two param

 gulp.src(['src/**/*.pug','!src/**/_*.pug'])

[2016-05-10 07:01] jamen commented on #23
@ozluy: `gulp-pug@3` has been release.  Closing now.

[2016-05-10 07:01] #23 closed

[2016-05-10 07:01] #24 closed

[2016-05-11 10:14] ignishub opened #122 "Error in readme"
just mistake :)
For copy/pase purposes)

Should be
_require_

[2016-05-11 11:33] jamen commented on #122
Thanks, my bad.  I can go ahead and fix that.

[2016-05-11 11:35] #122 closed, assigned to nobody

[2016-05-19 15:40] marvinhuebner opened #124 "Don't assume folder structure by compiling pug to html"
Is there any way to not assume the folder structure of my jade files by compiling it?

For example my pug template structure looks like this:

[code]

and then the output look like this:

[code]

Is there an option to become this as my output:

[code]

This is only a example, my jade templates are much more complex and i need to pair several files in difference folders.

My gulp task looks like th

[2016-05-19 18:33] jamen commented on #124
Hello, thanks for reaching out.

`gulp-pug` itself doesn't concatenate files any further than imports.

What you could do is setup your gulp task so it compiles each of the folders and outputs the HTML individually...  Here is something that might work, although I can't test at the moment...  But just to give you the idea:

[code]

If you wanted, you could write yourself a function to make the cod

[2016-05-19 20:38] marvinhuebner commented on #124
I have done already something similar

[code]

This will do the job. I hoped that there is a more dynamic way to do this. If i do it like that, i have to adjust it every time when i add a component folder. But probably there is no other way.

[2016-05-19 21:24] jamen commented on #124
There might be a Gulp plugin somewhere that can help you with something like that, but I'm unaware of any.  I think organization like that is outside the scope of this package. Consider making a plugin if there isn't one. :)

[2016-05-19 21:24] #124 closed, assigned to nobody

[2016-05-19 22:27] marvinhuebner commented on #124
I will look for something. Thanks for your help! :)

[2016-05-20 09:48] marvinhuebner commented on #124
**I found a solution.**

_Maybe some others are searching for something like that, i still want to post it. It is a little bit dirty but it works._

[code]

[2016-05-21 13:44] akai opened #125 "Why replace extension?"
Sorry, I was wrong.

[2016-05-21 15:27] #125 closed, assigned to nobody

[2016-06-06 11:21] DinisCruz commented on #107
I just got the same error, how did you solved it?

[2016-06-06 11:33] DinisCruz commented on #107
ok found it, it was caused by not calling the pug function

here is the code that threw this error

[code]

here is the code with the solution

[code]

[2016-06-15 06:13] koofah commented on #1
is it possible to compile jade to pure text or different extensions other than html? I know this sounds kind of silly but is it possible and how?

[2016-06-15 11:41] phated commented on #1
There are other plugins that change extensions for you. Plugins should do 1 thing.

[2016-06-16 23:16] niftylettuce opened #127 "Mention `externalRuntime` more explicitly as an option for `compileClient` because without it does not compile to a single function"

[2016-06-17 00:53] niftylettuce commented on #127
I think it is actually `inlineRuntimeFunctions` instead of `externalRuntime`

[2016-06-17 16:06] chippawah opened #128 "Dependency for pug 1.3.1 is impossible to meet"
I don't know what happened but pug 1.3.1 isn't available from npm and gulp-pug throws a non zero exit code because of it.
<img width="962" alt="screen shot 2016-06-17 at 11 05 43 am" src="https://cloud.githubusercontent.com/assets/9676018/16157892/2ebb6e7e-3480-11e6-860b-179b4157ad6e.png">

[2016-06-17 16:43] chippawah commented on #128
I avoided this by installing pug before gulp-pug. My docker build failed without that change. Perhaps the dependency be changed to ^1.3.1 as it appears to work in 2.0.0-beta3.

[2016-06-17 17:40] jamen commented on #128
Are you installing `gulp-pug@latest`?  There are no peer dependencies in gulp-pug anymore, so you should not be getting any "UNMET" errors (though it harmless anyways?).  Also, `pug@1.3.1` doesn't exist, so I'm not sure where that is coming from.

Right now, there is [`pug@2.0.0-alpha6` in the dependencies](https://github.com/jamen/gulp-pug/blob/master/package.json#L16), but keep in mind you can [

[2016-06-23 07:25] Groxot opened #129 "arguments whitout value"
How i can write
`<modal #modal>`
if write
`modal(#modal)`
pug compile
`<modal #modal="#modal">`

but on http://jade-lang.com/ its compile normal.

[2016-06-23 13:39] jamen commented on #129
This is probably due to version differences.  `gulp-pug` right now uses [`pug@2.0.0-alpha6`](https://github.com/jamen/gulp-pug/blob/master/package.json#L16).  But, you can pass in your own `pug` instance of any version (see the docs in the README).

I will not be updating the version quite yet for [reasons stated in this issue](https://github.com/jamen/gulp-pug/issues/128#issuecomment-226833896).

[2016-06-23 13:39] #129 closed, assigned to nobody

[2016-07-03 10:41] DinisCruz opened #130 "Cannot read property 'type' of undefined"
I just started having this error (see full stacktrace below)

looks like it is happening in the pug-linker module. Any ideas of what is the problem?

for reference here is how I'm using it

[code]

[code]

[2016-07-03 10:56] jamen commented on #130
The only reference back to `gulp-pug` in the stack trace is from line 33, which is simply where it compiles using pug.  So it seems that it might be an error with pug itself.

Because there is a lot of references to the AST in the trace it could be a syntax error handled badly, so you might want to check the source too.

Note that if this is a problem with pug, they could have fixed this in a late

[2016-07-03 14:45] DinisCruz commented on #130
ok the prob was caused by something on the fluentnode project, so I'm closing this

[2016-07-03 14:45] #130 closed, assigned to nobody

[2016-07-10 18:20] ceremcem opened #131 "Whitespace breaks mixins"
Following mixin does not work:

[code]

However following mixin works:

[code]

[2016-07-10 21:31] whaaaley commented on #131
`gulp-pug` is a wrapper around pug for use with gulp, not pug itself. I think you're looking for https://github.com/pugjs/pug

[2016-07-11 07:30] jamen commented on #131
Note this could be due to version differences.  gulp-pug uses 2.0.0-alpha6.  Not updating until 2.0.0 is officially released, because all non-prereleased versions are deprecated right now.  Also note you can pass in your own pug instance with a custom version.

Otherwise if not fixed, it is an issue with pug.

[2016-07-11 07:30] #131 closed, assigned to nobody

[2016-07-14 13:01] ingevlaar opened #132 "Cannot read property '*' of undefined / using property of var inside includes"
I use Pug in two ways. For development I run Express and Pug as view engine and for distribution I use gulp-pug. Works perfectly fine till today.

I tried to run gulp-pug on a file which includes the following concept:

[code]

and partials/partial.pug includes only:

[code]

Works perfectly fine in development, but fails with gulp-pug

[code]

I hope someone can help me out.

[2016-07-14 14:20] ingevlaar commented on #132
Found out what was wrong. Gulp tried to compile the partial.pug as a standalone file, but ofcourse it has no variables / locals set in that case. So it fails.

I want to distribute also partials for our back-end party; so they can easily check and implement the small html components without struggeling into the plain html template.

I created a fallback with dummy data.

[code]

Works like a charm

[2016-07-14 14:41] jamen commented on #132
However you are using gulp, you can try ignoring the specific file:

[code]

Glad you solved it.

[2016-07-14 14:41] #132 closed, assigned to nobody

[2016-07-28 18:26] davidxcarroll opened #133 "Any way to catch errors without stopping gulp?"
My current pug and watch:

[code]

I'm assuming this line could be improved? And/or relocated?
`.pipe(pug().on('error', pug.logError))`

Thanks in advance! And sorry, I tried doing research before posting but couldn't find something I could implement. I'm pretty new to Gulp and Pug.

[2016-07-28 21:01] jamen commented on #133
I think it's a pretty universal problem in Gulp plugins.  A plugin called [`gulp-plumber`](https://www.npmjs.com/package/gulp-plumber) helps with the situation.  Let me know if it solves your problem.

[2016-07-28 22:11] davidxcarroll commented on #133
Will do, thanks!

[2016-07-30 21:49] jamen commented on #133
Assuming your issue was solved?  Closing this.  :+1:

[2016-07-30 21:49] #133 closed, assigned to nobody

[2016-07-30 22:24] davidxcarroll commented on #133
Yes @jamen thank you :)

[2016-08-01 19:38] sntiagomoreno opened #134 "Error with unknown :custom filter"
Pug gets compiled fine, but an error is being thrown each time it runs the task:

[code]

[2016-08-03 07:36] TimothyGu opened #135 "Use peerDependency for pug"
This way users can prevent downloading two copies of Pug (one bundled with gulp-pug, the other their own). This is especially important as Pug currently hasn't released a stable version, so bug fixes are fast in coming.

[2016-08-03 08:11] shinnn commented on #135
Why not use [`opts.pug`](https://github.com/jamen/gulp-pug#pugopts)?

In this case, npm already de-duplicates those two `pug` packages well.

#

As one of the [gulp-eslint](https://github.com/adametry/gulp-eslint) maintainers I've also received a lot of requests to switch `eslint` from `dependencies` to `peerDependencies`. However, [we finally decided not](https://github.com/adametry/gulp-eslint/i

[2016-08-03 09:48] jamen commented on #135
The [original `gulp-pug`](https://github.com/jamen-archive/gulp-pug) I made used `peerDependencies`.  After a while, I personally found it annoying, because npm3 doesn't download the package automatically.  It was an extra step that confused some users (especially those switching from `gulp-jade` to `gulp-pug`).  So I ended up removing it.

This also is bothersome because that means I'll have to u

[2016-08-03 09:48] #135 closed, assigned to nobody

[2016-08-03 09:56] jamen commented on #127
I'll look into it.  But I didn't see any documentation on this type of stuff.  Is it v2?

Edit: Never mind, looks like it is documented in `pug-code-gen`

[2016-08-03 10:00] #128 closed, assigned to nobody

[2016-08-03 10:02] jamen opened #136 "Upgrade pug to v2 in dependencies."
When a stable version of `pug` is released (as v2) I should update it in the `dependencies`.  Right now everything is either prereleased or deprecated, so I'm just going to leave it until then.

Consider using `opts.pug` if you need the latest prereleased version.

[2016-08-03 10:04] jamen commented on #135
For reference, opened #136.

[2016-08-03 10:56] zenekron commented on #135
**TL;DR:** You should add `gulp` to the `peerDependencies` and widen `pug`'s versions range (`^2.x`).

Directly from the official docs on [peerDependencies](https://docs.npmjs.com/files/package.json#peerdependencies):

And it's true that `gulp-pug` has this kind of relationship.. **but with `gulp`, not with `pug`**!
So it is my opinion that a _peer dependency_ should be added, and that would be in

[2016-08-03 11:28] jamen commented on #135
@zenekron Part of the problem I was trying to explain is that you cannot capture preleased versions with those selectors.  For example, `^2.0.0` in `peerDependencies` would be unmet for any of the v2 prereleases, and then the only versions that can be captured are deprecated.

That would make it so either no versions are captured, or only deprecated versions are captured.  I would be forced to use

[2016-08-03 11:28] shinnn commented on #135
No. gulp plugins sometimes can be used outside gulp. For example [duo-gulp](https://github.com/duojs/gulp) converts a gulp plugin to a duo plugin, and we don't need to install `gulp` while using `gulp-pug` via `duo-gulp`.

Adding `gulp` to `peerDependencies` won't benefits users but just restrict its availability.

[2016-08-03 11:43] zenekron commented on #135
@jamen I personally don't consider having an `opts.pug` good, and if the problem is just the version selector then `>=2.0.0-alpha <3` would do the trick..

@shinnn I wasn't aware of that use case for gulp plugins so thanks for pointing out!

[2016-08-03 11:53] jamen commented on #135
@zenekron Sure, I can use that in the `dependencies`, but I still think `peerDependencies` confuses people (I had a few issues opened on the last repo related to it).  Especially people who are migrating from `gulp-jade`.

[2016-08-03 11:55] zenekron commented on #135
@jamen In fact I'm strongly against having `pug` in the `peerDependencies` 😅

[2016-08-03 12:15] #136 closed, assigned to nobody

[2016-08-03 12:16] jamen commented on #136
A nice solution was found in #135

[code]

[2016-08-03 12:18] jamen commented on #134
A patch was published that includes the most recent prerelease of `v2`.  Can you try installing the latest version `gulp-pug@3.0.4` and let me know if that solves it?

Otherwise, this error looks quite strange.  It's coming from a test case in `pug-filters`.

[2016-08-03 15:01] sntiagomoreno commented on #134
Hi, didn't work. I've updated to Gulp 4, still throws an error but don't know if this is more descriptive than above?:

[code]

Thank you!

[2016-08-03 15:49] TimothyGu commented on #135
Okay, those are some valid points against `peerDependencies`, so I'll drop this issue, though that's probably not the way I would have gone.

But just to answer some questions about Pug versioning, yes, we do follow semver. We don't intentionally break compat between alpha/beta versions (Pug is now at beta), but when there is an API bug/inconsistency you have to do that. Furthermore, breaking comp

[2016-08-03 21:04] jamen commented on #135
Thank you @TimothyGu.

[2016-08-11 00:24] edwardessing opened #137 "RangeError in plugin 'gulp-pug'"
Hey, currently getting this error:

`Plumber found unhandled error:
 RangeError in plugin 'gulp-pug'
Message:
    Maximum call stack size exceeded
Details:
    undefined: true`

Here are my current dependencies:
`
  "devDependencies": {
    "browser-sync": "^2.14.0",
    "gulp": "^3.9.1",
    "gulp-autoprefixer": "^3.1.0",
    "gulp-changed": "^1.3.1",
    "gulp-concat": "^2.6.0",
    "gulp-jshint

[2016-08-11 00:28] jamen commented on #137
Can you try using `gulp-pug@3.0.4`?  Looks like you are using `3.0.3`.

[2016-08-11 00:31] edwardessing commented on #137
Still getting it...

[2016-08-11 00:32] jamen commented on #137
Hmm, well this error seems very vague.  Can you show me the piece of code where you are using `gulp-pug`?

[2016-08-11 00:33] edwardessing commented on #137
Here is how it appears in my gulpfile

`gulp.task('pug', function() {`
    `gulp.src('src/pug/**/*.pug')`
        `.pipe(plumber())`
        `.pipe(pug())`
        `.pipe(gulp.dest(buildPath))`
        `.pipe(sync.reload({ stream: true }));`
`});`

[2016-08-15 17:52] roelvangils opened #138 "Adding filters"
Do I need another Gulp plugin (such as `gulp-filters`) to use custom filters? I'm not sure where to define or include a filter. The documentation has no information on this, I believe.

Do I have to pass filter names as an option when using `.pipe(pug(…))`?

I was hoping it would work as explained in the documentation for the (deprecated)  `gulp-jade` plugin:

[code]

This doesn't seem to work for

[2016-08-16 13:00] roelvangils commented on #138
Solved it. It turned out to be as easy as including `jstransformer` and the right filter in my `gulpfile.js`.

[code]

[2016-08-17 01:32] edwardessing commented on #137
So as it turns out I was trying to include a block within itself...block-ception.

For what it's worth, gulp-jade was able to pick up on this dumb mistake...

[2016-08-17 01:47] jamen commented on #137
Glad you could solve your issue.

Also, this package is gulp-jade.  It was transitioned from jade to pug, but the functionality was left the same.  Any differences between gulp-jade and gulp-pug is something to do with changes in pug or new feature additions in v2 (which wouldn't have existed in gulp-jade).

[2016-08-17 01:47] #137 closed, assigned to nobody

[2016-08-18 06:42] jamen commented on #138
See how it is done here in the test case: https://github.com/jamen/gulp-pug/blob/master/test/filters.js

I agree with you that it should be documented better.  I'll leave this open until I can get around to that.

[2016-08-20 19:36] hlissner commented on #134
In case you're still getting this error: it's likely caused by an over-zealous gulp.src glob capturing the test case templates in `node_modules/pug-filters/test/cases/*.pug`.

i.e. `gulp.src("**/*.pug")` captures `node_modules/pug-filters/test/cases/filters.include.custom.pug`

So you'll want to exclude node_modules.

[2016-08-21 03:39] jamen commented on #134
Good idea @hlissner, didn't quite occur to me.

[2016-08-21 03:52] sntiagomoreno commented on #134
Working perfectly now. Thanks @hlissner and thanks @jamen for the plugin.

[2016-08-21 03:52] #134 closed, assigned to nobody

[2016-09-06 22:02] joaocunha commented on #116
@53ck I've tried to use `gulp-changed` as well, but it didn't work for includes (it would have to compile the parent). Did you sort it somehow?

My build time is taking around 5 seconds and it's being a pain to iterate over the layout files.

[2016-09-14 08:22] kyooriouskoala commented on #116
Experiencing same issue.  `gulp-changed` works fine but not working for includes. Tried `gulp-pug-inheritance` but it's not working either = /

Anyone with solution, please share. Thank you!

[2016-09-14 15:19] joaocunha commented on #116
My performance issues were solved by using an express server to serve pug files instead of recompiling all of them at each save.

[2016-09-22 14:04] AndyOGo commented on #88
Any solution, i got the same error:

[2016-09-22 18:04] shinnn commented on #88
@AndyOGo Read @phated's last comment and [this article](http://www.catb.org/esr/faqs/smart-questions.html#forum).

[2016-09-22 23:22] AndyOGo commented on #88
Dear wise omniscient @shinnn
Thank you for giving such a great example of poor ignorant ignorance

[2016-09-23 00:06] jamen commented on #88
Hello.  I've seen nothing in that stack trace that point directly back to `gulp-pug`'s or `gulp-jade`'s code.  If you look at it, a lot of the calls point back to the `jade` dependency and specifically the parser (then there is just a lot of extras involving streams).

If I were you, I would try to check [pugjs/pug](https://github.com/pugjs/pug) if there were any issues that were resolved, as that

[2016-09-23 22:51] felipe3dfx opened #139 "Cant run task"
Have the follow:

[code]

When run gulp compile-pug raises error:

[code]

my package.json:

[code]

Any ideas?

[2016-09-24 21:57] jamen commented on #139
Hello, sorry for late reply.

`pug.logError` is not a function and never has been a function in `gulp-jade` either, I believe.  Which is why your event listener is not a function, rather undefined.  I would suggest using `gulp-plumber` maybe.

If this sort of `.logError` thing is a common practice (which I would be unaware of), I'm open to PRs.  :smile:

[2016-09-27 01:01] nickdriller opened #140 "Compiling problem"
I'm working with Bootstrap-JADE [http://rajasegar.github.io/JADE-Bootstrap/getting-started.html](url) i changed the extension to .pug and using gulp-pug for compiling.
For example i've got this mixin

[code]

this is how i'm using it

[code]

and this is how compiles

[code]

When i change the file extensions to .jade and use gulp-jade compiles correctly. Also works in Codepen

[code]

I'm thinkin

[2016-10-01 07:47] jamen commented on #140
Hello.  This is [a breaking change with `pug`](https://github.com/pugjs/pug/issues/2305).  You'd want to update to something like this:

[code]

[2016-10-01 07:47] #140 closed, assigned to nobody

[2016-10-03 21:39] jGleitz opened #141 "Extend the data attribute"
Currently, the way of providing data through the stream file object and through the options cannot be combined.

However, I’d like to do exactly that. So I propose to merge the `file.data` with the `opts.data`, just like described in [`gulp-data`](https://www.npmjs.com/package/gulp-data).

[2016-10-04 05:42] #141 closed, assigned to nobody

[2016-10-04 10:02] aaronstezycki opened #143 "compile to dist folder."
Hi guys, a noobie question probably. So I've got the following gulp setup:

[code]

And my folder structure looks like -->

[code]

When I compile to the /dist/ directory I get a few unwanted folders - >
It looks like its using the home directory as the starting location for my dist files. What I really want is to compile straight into the /dist/ folder **without** creating another app and src fol

[2016-10-04 10:28] aaronstezycki commented on #143
Okay, Ive kinda solved this by putting:

[code]

However it seems to now be compiling the partials into a view folder, which I don't really need. Anyway to get around this?

[2016-10-04 10:33] #143 closed, assigned to nobody

[2016-10-13 08:10] #139 closed, assigned to nobody

[2016-10-21 13:58] ForbesLindesay opened #144 "Migrating to the pugjs org"
Would you be interested in moving this repo into the pugjs org?  Still with you maintaining it, but it might give this more visibility as the "official" gulp pug implementation.

[2016-10-21 14:50] jamen commented on #144
Sure! I attempted to transfer, but it said I do not have permission for the pugjs organization.

Do you want to add me or should I transfer it to you, or what?

[2016-10-25 14:37] ForbesLindesay commented on #144
Oops, you should now have a pending invitation to join the pugjs team.  Once you've accepted that you should be able to transfer the repo.

[2016-10-25 14:48] jamen commented on #144
@ForbesLindesay I have moved the package. :)

Not as far as links and stuff go though.

[2016-10-26 21:50] danieldafoe opened #147 "Unexpected token, acorn.js"
Hi there,

Currently trying to port over the organization's Jade to Pug, but getting this error. I'm using the gulp-pug package.

_Versions_
Node.js: 6.2.0
npm: 3.8.9
gulp-pug: ^3.1.0

[code]

Any help would be greatly appreciated!

[2016-10-27 19:41] yeralin opened #148 "Jinja2 Template lang + gulp-pug"
Hi,
I've been trying to compile pugjs with Jinja2, but it throws errors: unexpected text "{% lo"

I know that I can simply put "| {%", but I found it inconvenient. Is there any option so I could suppress these warnings?

Also, I tried to use this fork https://github.com/matannoam/pypugjs but it seems a little buggy (also I think that at some point it will slow down django)

[2016-11-11 23:36] snikaein opened #149 "problem with eco syntax"
Hi,
I have problem with [Eco: Embedded CoffeeScript ](https://github.com/sstephenson/eco)templates syntax .
I think for these characters <% %>
any idea how do I fix it ?

[2016-11-12 00:58] #149 closed, assigned to nobody

[2016-11-14 04:08] tolson32 opened #150 "compiling Jade files"
I'm using jade for the first time. I installed Node.js and I'm using notepadd ++ to write in jade.
I used the command prompt to install jade with:

C:\Users\tom>npm install jade
npm WARN deprecated jade@1.11.0: Jade has been renamed to pug, please install the latest version of pug instead of jade
npm WARN deprecated transformers@2.1.0: Deprecated, use jstransformer
C:\Users\tom
`-- jade@1.11.0
  +

[2016-11-30 09:39] Tiliavir opened #151 "Bug with variable scoping"
There seems to be a major issue with the scoping of variables, that are not available for all files.

Unfortunately I'm not sure which component of pug is the root cause for this.

I have prepared a small sample here:
https://github.com/Tiliavir/pug-variable-scope-issue

Simply CO, run `npm run build` and check the output vs. the resulting HTML. **Subtitle should be empty in most files, but are us

[2016-12-02 14:23] Tiliavir commented on #151
Seems to be fixed with https://github.com/pugjs/gulp-pug/pull/146 are there any chances, that this is merged soon?

[2016-12-02 15:10] jamen commented on #151
@Tiliavir Hey.  Yeah, I can merge these PRs and make a new release.

[2016-12-02 17:36] Tiliavir commented on #151
I would really appreciate to see this fixed - is it tested for any other impacts? I've not reviewed the code to be honest ...

[2016-12-02 17:39] jamen commented on #151
@Tiliavir I published `3.2.0` with the changes.  Let me know if that fixes.  They were backwards compatible.

[2016-12-03 07:42] Tiliavir commented on #151
Fixed! Works like a charm ...

[2016-12-03 07:42] #151 closed, assigned to nobody

[2016-12-17 11:14] ivanprotsko opened #152 "Compiling from PUG to HTML is not working"
Please, help me.

In the older version this code is working:

[code]
yesterday I am upgrade to latest version and now getting this error:

[code]

Tell me, please, how I can fix this problem?

[2016-12-17 12:00] ivanprotsko commented on #152
Resolved.

I am deleted this row **var pug = require("pug");**

[2016-12-23 10:27] hitima opened #153 "In an include file or an inheriting source file, Can not read property 'test.hoge' of undefined"
I have a object variable,

test.pug
[code]

_future_page.pug
[code]

[code]

However, in an include file or an inheriting source file, Can not read property 'page.description' of undefined

Please, how can I solve this?

[2016-12-26 04:48] hitima commented on #153
~~also working in jade.~~

[2016-12-26 06:09] jamen commented on #153
Hmm.  I cannot see why this would be issue with `gulp-pug` specifically unless something changed im not aware about.

Can you try testing with something like `pug-cli` and see if you get the same effect?  If so, should probably report upstream to `pug`.

[2016-12-26 06:14] jamen commented on #152
:+1:

[2016-12-26 06:14] #152 closed, assigned to nobody

[2016-12-26 06:16] jamen commented on #150
Can you take this support question to [stackoverflow.com](https://stackoverflow.com/)? Those folks could probably help you better.  Seems like several things are wrong there, and I also don't use Windows.

P.S.: It is no longer `jade`, it was renamed to `pug`.  :smile:

[2016-12-26 06:16] #150 closed, assigned to nobody

[2016-12-26 06:25] #144 closed, assigned to nobody

[2016-12-26 06:27] jamen commented on #147
Hey.  Please look at [Migrating to Pug 2](https://pugjs.org/api/migration-v2.html).  There is some syntax changes which I'm guessing might be related.

Otherwise, reopen issue with more information.  Thanks

[2016-12-26 06:27] #147 closed, assigned to nobody

[2016-12-26 06:30] jamen commented on #138
This is actually documented [here](https://pugjs.org/language/filters.html) now.

[2016-12-26 06:30] #138 closed, assigned to nobody

[2016-12-26 06:34] jamen commented on #148
Please see [Plain Text](https://pugjs.org/language/plain-text.html) in pugjs docs.

It looks like you want the `.` syntax here if I understand correctly.

[2016-12-26 06:34] #148 closed, assigned to nobody

[2016-12-26 07:06] hitima commented on #153
Thank you very much. I'm sorry, but it was impossible for jade. Is there any way of specifying something?

I will try it with pug-cli. Thank you very much.

[2016-12-26 08:07] hitima commented on #153
When I search this object by console.log
[code]
[code]

Is it a problem that you go to see the object before the object is defined? Is the inclusion timing too early? I do not know why console logs are spit twice.

However, by adding an if statement that it is not undefined, the expected object was taken.

[code]

I could find a solution for the time being, but I hope to continue looking at behavi

[2017-03-08 14:25] brianhaferkamp opened #154 ".pug files not compiling to .html"
I'm converting my build from Jade to Pug. I've been using Jade for about a year so I'm familiar with the way it works and not a total noob. When I make changes my build is just copying over index.pug to the destination folder (/build). Here is the gulp file:

[code]

And here is the config.js file:

[code]

Any thoughts on why it's not outputting HTML?

[2017-03-08 17:42] ericnewton76 commented on #154
btw, you should wrap the gulpfile content in 3 backticks: ```

[code]

and you and I have the same notion of how a gulpfile should look!  config separated, options all defined at the top, etc! I like it!

[2017-03-08 21:41] brianhaferkamp commented on #154
@ericnewton76 Thanks for the pro tip. Still kind of a Github noob.

I wish I could take more credit for the code. It was written by @mriverodorta. I've been using it for my projects as a build system for about a year. It's great because you just install npm and bower and the whole project gets set up by itself. This is a slimmed down system from the one I've been using. You can see the full build

[2017-03-08 22:52] mriverodorta commented on #154
**Solved:** Checkout **Gulp-Starter-Kit** updates, now it's using **pug** as template engine.

[2017-03-09 12:16] #154 closed, assigned to nobody

[2017-04-02 10:34] LiTiang opened #156 "Gulp-watch shutdown after some error occured in pug"
The Error something like this
[code]

where i use the syntax below
[code]

but gulp-watch still dead

[2017-04-20 18:05] ihadeed commented on #156
I was having the same problem. I followed the instructions in this issue to fix it: https://github.com/pugjs/gulp-pug/issues/133

Install `gulp-plumber` and pipe it in before `pug(..)`

[2017-05-19 18:10] CydGoblin opened #158 "Update pug"
pug is now 2.0.0-rc.1, should this be updated on the package? alpha 2 was a long time ago

[2017-09-09 17:02] sananes opened #161 "Loop through an object with an array inside"
Hey guys!

So, I'm having a really hard time looping through an array inside an object.
[code]
Here would be my pug file code:

[code]

Any reason why this wouldn't work?

[2017-09-14 08:06] aderaaij commented on #161
Hey mate, fancy seeing you here! haha. There's no reason why that shouldn't work (see: https://codepen.io/aderaaij/pen/YrPejo). I think it's a syntax thing with the array in features. It goes `['one, two']` but I'm assuming this should be `['one', 'two']`.

[2017-09-23 23:14] tonymoonwalker opened #162 "broken iteration"
I have folowing code in my template
[code]
And when I trying to compile this I have this message:

I am new in JavaScript but is it correct behavior that _step+2_ throws error?
Step like _i++_ works correctly.

[2017-09-24 08:11] #162 closed, assigned to nobody

[2017-10-26 19:07] mittalyashu opened #163 "Ignore jade file compile to html which are included to other jade file"
How to avoid compiling of the file, which is included to another jade file?

[2017-11-27 15:21] gluntn opened #164 "Mixing tabs and spaces seems to break gulp-pug"
I was doing some editing with two different files (one had spaces, the other tabs), and it ended up with one of the files had tabs and spaces together. Trying to use gulp-pug does not print an error, it just says it has done what's it supposed to do and then quit

Is it normal behaviour?

[2017-11-27 19:38] do100Han commented on #164
The result of using gulp-pug is an html document

2017-11-27 18:21 GMT+03:00 William <notifications@github.com>:

[2017-12-27 17:40] demurgos opened #166 "Update dependencies"
Following [a recent pug update](https://github.com/gulpjs/gulp/issues/2065#issuecomment-353624015), I am reviewing my plugins.

This plugin is one of the faulty ones because of outdated dependencies.

The main issues are that it relies on `gulp-util` and has transitive dependencies on old version of `vinyl`.

**This breaks builds with gulp 4.**

[2017-12-27 18:10] demurgos opened #167 "Document library with type definitions"
Hi,
It would be great if this project bundled its Typescript type definitions to document its API. There are [some existing definitions on DefinitelyTyped (DT)](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/gulp-pug/index.d.ts) but bringing them here has many advantages, even if the library is written in Javascript. It would just be be an improvement in documentation and dis

[2017-12-27 20:40] jamen opened #168 "Looking for maintainer"
Hey @pugjs/maintainers.  I dont use Gulp or Pug anymore. This was my only contribution so I'll be leaving. But there are who use it and shouldn't be left behind, so I'm dropping a notice.  This was one of my first endeavors in open source so I appreciate the opportunity.

[2017-12-27 21:05] demurgos commented on #168
Hi, I am using this plugin for some time now and I am currently in the process of updating it (see #166, #167). I am not a member of @pugjs but I wouldn't mind giving a hand at maintaining this library. I already help maintaining a few libraries. `gulp-pug` is a library I depend a lot so I care about it being healthy.

[2017-12-27 21:06] demurgos commented on #158
The current version range picks the latest rc. I don't think we need to update the `package.json` file until the stable version is released.

[2017-12-27 21:10] demurgos commented on #161
@Sananes
Were you able to solve your issue? I believe that adernaaij was right: it's a simple syntax issue (single string with a comma instead of two strings separated by a comma).

I believe this issue is more related to the core [pug](https://github.com/pugjs/pug) syntax. If you still have a syntax issue, I recommend to submit a stack overflow question or open an issue on the main repo.

[2017-12-27 21:11] demurgos commented on #163
@mittalyashu
Could you clarify your question with a few examples? With input files, expected results and actual results?

[2017-12-27 21:26] demurgos opened #169 "Update Node versions in CI"
Hi,
This package is currently tested (Travis CI) against some versions of Node that neither maintained or supported by pug itself.
It would be nice to update the CI to test against the moving targets `lts` and `stable`. This way we can keep updating the library as Node evolves.

At the moment, I am mostly annoyed by the lack of `let` and `const` support. It also prevents to follow the latest Googl

[2017-12-27 22:24] demurgos commented on #169
It turns out most dependencies already dropped support for unmaintained Node versions. Trying to support them will be an uphill battle.

[2018-01-04 19:42] verbart opened #174 "How to force compile template on change data?"
I use data from json files in templates. And I need a force restart Pug task on change it json. But Pug not compile because the template files did not change.

[2018-01-26 13:56] jamen commented on #168
Ping @hemanth @ForbesLindesay @phated

[2018-01-26 13:56] #168 closed, assigned to nobody

[2018-01-26 18:31] phated commented on #168
I'm not a member of the org but I can vouch for @demurgos - he is part of the gulp team and focused on ecosystem health.

[2018-02-05 10:34] ForbesLindesay commented on #168
@demurgos I've sent you an invitation to join the gulp-pug GitHub org. Ping me with a mention if you need anything else :)

[2018-02-14 17:14] demurgos commented on #168
@ForbesLindesay
Thanks: I did not have much time right now but I'll definitely help with maintaining this plugin.

You may also be interested in moving this repository to the [gulp-community](https://github.com/gulp-community) organization. You would keep ownership and control of the plugin (license, code style, npm publication) but it would benefit from easier maintenance by trusted Gulp contribu

[2018-02-15 15:02] ForbesLindesay commented on #168
I'm happy to do that/have that be done. I don't have permission to create repositories in the gulp-community so I can't transfer it at the moment.

[2018-02-15 15:24] demurgos commented on #168
@phated
According to [this article](https://help.github.com/articles/transferring-a-repository-owned-by-your-organization/) the owner (or admin) of the original repo (@ForbesLindesay) must have repo creation permissions in the new organization (@gulp-community).

Could you help him with the transfer?

[2018-02-15 15:45] phated commented on #168
Invitation sent

[2018-02-15 15:55] demurgos commented on #168
Thanks @phated
It seems that you are now the owner of `gulp-pug` so you should be able to do the transfer.

We still need to figure the best way to handle transfers.

[2018-03-28 06:05] staticfire commented on #174
Use 'gulp.watch' to watch you json file.

[2018-03-28 08:23] verbart commented on #174
@ddawnbb Watch is not problem. Problem in force compile unchanged Pug files.

[2018-04-07 20:44] #169 closed, assigned to nobody

[2018-04-07 22:15] #166 closed, assigned to nobody

[2018-04-08 08:45] #167 closed, assigned to nobody

[2018-04-08 09:24] ghost opened #178 "Remove gulp devDependency"
Right now, gulp is only used for running `gulp-eslint`. It would be easier to run eslint directly. I can submit a PR if agreed.

[2018-04-08 09:40] demurgos commented on #178
You're right: it would simplify things. I'll merge your other PR (#177) and do it myself since I'm working on this repo at the moment.

[2018-04-08 09:42] ghost commented on #178
Alright.

[2018-04-08 10:12] demurgos commented on #178
Gulp is still used to in the tests. I'm keeping it as a dev dependency but removing the gulpfile and `gulp-eslint` plugin in favor of a direct usage of `eslint`.

[2018-04-08 11:52] #178 closed, assigned to nobody

[2018-05-09 17:11] DougBeney opened #183 "Adding gulp-pug-frontmatter-support to the "Also see" section"
Hello,
Just wanted to share a variation of this plugin I created called "[gulp-pug-frontmatter-support](https://github.com/DougBeney/gulp-pug-frontmatter-support)"

Using this plugin, this Pug code...

[code]

...Will turn into this:

[code]

This is useful for anyone who has a Gulp + Pug setup for a statically generated site. For example, I am using this in my [Jekyll-Bliss](https://github.com/Do

[2018-05-09 18:38] phated commented on #183
The linked plugin goes against the gulpplugin ethos.  Instead of creating a fork and adding functionality, you should be thinking what sort of plugin you could create that would work in tandem with gulp-pug.

Example (this probably isn't the best API):
[code]

[2018-05-09 18:38] #183 closed, assigned to nobody

[2018-05-09 23:26] DougBeney commented on #183
Gotcha. Will consider that.

[2018-05-10 16:00] DougBeney commented on #183
Thanks for the feedback! I ended up taking your advice and created a separate plugin: https://github.com/DougBeney/gulp-frontmatter-wrangler

[2018-05-13 20:16] phated commented on #183
@DougBeney awesome!  Feel free to submit a PR to the "Also see" section with your new module!

[2018-05-18 14:09] y4my4my4m opened #185 "Gulp Pug on Linux"
I've recently moved my environment from OSX to Linux (Manjaro).

My pug files properly compiles under OSX but won't on Linux. Running my task gives no error:
[code]

However running npm gives me this warning message:
[code]

I've searched online and they've mentioned this was a non-issue.
Does anyone know what's going on here?

[2018-05-18 19:40] phated commented on #185
That has nothing to do with gulp-pug (it's the file watcher for OSX).

[2018-05-18 19:40] #185 closed, assigned to nobody

[2018-05-21 09:16] y4my4my4m commented on #185
Ok, any idea why my pug files aren't compiling on linux?

[2018-05-25 18:13] maiibraheem opened #186 "Generate html files from pug using gulp in node js"
I'm creating a simple node js demo and I'm using pug
I need to use gulp to generate the html files
I used gulp-pug but it didn't work as expected, it generated the same pug files again in the new directory

**My gulpfile.js was as below:**
// Gulp.js configuration
var gulp = require('gulp');
var pug = require('gulp-pug');
var watch = require('gulp-watch');

gulp.task('pug',function() {
 return gul

[2018-06-11 16:36] joneldiablo opened #187 "[question] how could I use client:true and require it in my javascript file"
I want to use the html file compiled from pug as template for a jquery plugin something like:

´´´
const template = require('./template.js');
$(template)
....
´´´

where ./template.js is the pug compiled with ´client:true´

[2018-06-11 17:25] joneldiablo commented on #187
nevermind, I have use gulp-wrapper, then append module.exports = template; to the file

[2018-06-22 13:02] phated commented on #187
Yep!

[2018-06-22 13:02] #187 closed, assigned to nobody

[2018-06-22 13:06] phated commented on #186
Support questions should be directed to StackOverflow.

[2018-06-22 13:06] #186 closed, assigned to nobody

[2018-06-22 14:34] demurgos commented on #158
Fixed a few months ago in https://github.com/gulp-community/gulp-pug/commit/b6914231d1630995c612ab91c7345b303f107e0d

[2018-06-22 14:34] #158 closed, assigned to nobody

[2018-07-31 19:33] Jikstra opened #188 "Error doesn't include filename"
gulp-pug passes the file content as a string to pug, so pug never knows the real filename. gulp-pug should pass the filename to pug or put it in the error object before it gets passed to cb. Will open a pull request for this.

[2018-07-31 21:27] demurgos commented on #188
Thanks for opening the PR. It's a good addition.

[2018-08-26 12:58] evgeniy-vashchuk opened #191 "How to have an empty line in an output HTML?"
I want to see empty lines in my output HTML, but PUG removes all of it:

![e03544252a](https://user-images.githubusercontent.com/24987866/44628434-5c88aa80-a948-11e8-82c6-dd263d40c433.png)

What I want:

![c87a53db49](https://user-images.githubusercontent.com/24987866/44628466-c903a980-a948-11e8-98fe-8987726a7af0.png)

How can I change this? Pug have any options for this?

[2018-08-26 15:30] demurgos commented on #191
Your question is very specific and related to pug-the-language, not the Gulp plugin. You should ask it on StackOverflow or the [Pug repo](https://github.com/pugjs/pug).

I don't have the answer to your question, but you may look at HTML literals or something like this. I remember using the pipe `|` operator to emit some content. I'm closing this issue since it's not a bug with the plugin.

[2018-08-26 15:30] #191 closed, assigned to nobody

[2018-09-02 04:07] jaireina commented on #174
@verbart could you put the code you used for your gulp build and the code in your pug files so we can understand your problem better and find a solution?

[2018-09-04 13:47] verbart commented on #174
@jaireina https://github.com/verbart/verbart.github.io/blob/master/gulpfile.js#L89

[2018-09-04 16:38] jaireina commented on #174
@verbart thanks for the link.

It seems like your issue is not related to pug, it is related to the require function of node that you're using and the fact that it caches all the requests done through it. Because of this cache, you never see your site updated.

You can circumvent this by using the fs module to read your JSON file instead of using require. I did a couple of tests and this worked:

[2018-09-04 16:38] yocontra commented on #174
Yep, that ^

(Thanks @jaireina)

[2018-09-04 16:38] #174 closed, assigned to nobody

[2019-02-03 10:58] wiggisser opened #192 "Support per-file `name` option"
when using gulp pug like this

[code]

the options returned from the gulp-data function are not passed through to the pug.compileClient. Especially, in my usecase, the template name is not set to the filename but to `template`

[2019-04-03 11:41] toptalo opened #194 "Load opts.data and opts.locals form *.json files"
Hello!
I want to implement feature that allow us to define template data in separate json files.

For now, we can't use multiline data object definition in template file. So, I think, it will be better to use separate `*.json` files for this purpose.

It will be a global data json file for `opts.data` and for each page, we may create her own json file with same name as page have (example: `index.j

[2019-04-03 12:00] toptalo commented on #194
After opening issue I found `gulp-data`.

With config like this I can totally satisfy my needs
[code]

[2019-04-03 12:00] #194 closed, assigned to nobody

[2019-05-09 09:21] demurgos commented on #164
I believe this is a Pug error: it does not support mixed indentation.

[2019-05-09 10:04] demurgos opened #196 "Update test framework"
<https://github.com/gulp-community/gulp-pug/pull/195#issuecomment-490838827>

I am more familiar with Mocha (also used by Gulp core) but could take a look at Jest if you prefer. I agree that the test framework should be updated.

/cc @phated

[2019-05-09 10:06] phated commented on #196
I've mostly used mocha with expect (but that module was taken over by jest). I'm probably going to explore jest for the next versions of gulp because everyone raves about it.  Have you noticed how gulp tests streams (using pipeline, concat, etc)?

[2019-05-09 10:12] demurgos commented on #196
I haven't looked closely into Gulp tests: could you link to one of those streaming tests?

I have to admit that I had some issues with Mocha before, but I know it well so I was able to send them PRs or change my tests. I'll try to convert this package to use Jest so I can get a feel of it.

[2019-05-09 10:16] phated commented on #196
Here's an example: https://github.com/gulpjs/vinyl-fs/blob/master/test/dest.js#L288-L310

[2019-05-09 10:22] demurgos commented on #192
I am doing some maintenance on the lib currently. I'll handle this issue as part of it.

[2019-05-09 10:23] phated commented on #192
The gulp-data plugin is not designed for passing options through your pipeline.  The way that this should probably be solved inside gulp-pug is to make the `name` option a string or function.  If it is a function, call it for each file with the file as the only argument.

[2019-05-09 10:27] phated opened #198 "Support streaming contents"
@demurgos I saw your activity here and it looks like it will result in a major bump.  I want to experiment with some ideas I've been having to support streaming contents within plugins.  Would you mind if I put together a PR?

[2019-05-09 10:35] demurgos commented on #192
I have misunderstood the issue.
My understanding was that `gulp-data` could be used to pass the Pug locals, not the options themselves.

Agreed that per-file configuration can be achieved by accepting a function.

[2019-05-09 10:46] demurgos commented on #198
Go ahead :+1:

[2019-05-09 10:56] phated commented on #192
@demurgos I had misunderstood it as well until I dug into pug's `options` and noticed that @wiggisser was trying to pass the `name` option.

[2019-05-09 11:03] wiggisser commented on #192
So, is there any possibility to derive the template name from the filename then?

[2019-05-09 11:05] demurgos commented on #192
Yes

[2019-05-09 11:06] wiggisser commented on #192
OK. I could probably provide a pull request for that ...

[2019-05-09 11:22] demurgos commented on #196
Jest uses different globals than Node. Node's `fs.readFileSync` errors are no longer `instanceof Error`. This further breaks inside `plugin-error` which checks for error objects using `instanceof Error`. This prevents `test/error.js` from working.

https://github.com/facebook/jest/issues/2549

In the issue above, [someone proposed a workaround](https://github.com/facebook/jest/issues/2549#issuecom

[2019-05-09 11:27] phated commented on #196
@demurgos sounds good!  Sorry you were the first to run into this for gulp stuff, as I haven't begun exploring it.

[2019-05-09 12:11] phated commented on #196
@demurgos another note: gulp uses https://www.npmjs.com/package/expect version 1.20.2 (this has confused people in the past who've reached for the `expect.js` module)

[2019-05-09 14:39] demurgos commented on #196
I am almost done with the conversion. I am using a style similar to `vinyl-fs`, it seems that error that happen inside the `assert` function (passed to `concat`) are not properly caught by Mocha. The test still fails, but I don't think `concat` passes the errors down.

**Edit**: I may be confused by the error messages generated by `expect` (I mostly use `chai`)

[2019-05-09 15:04] phated commented on #196
@demurgos anything thrown inside the `assert` function will be caught by `mississippi.pipe` and handed to the final callback, which should be the `done` from mocha.  You'll likely want to use `mocha --async-only` so that a `done` callback is not missed accidentally.

[2019-05-09 15:07] demurgos commented on #192
This library already supports receiving Pug locals from `gulp-data`. I'm renaming the issue to better reflect the actual problem.

[2019-05-10 16:45] #196 closed, assigned to nobody

[2019-05-11 14:36] phated commented on #156
This shouldn't be an error any longer in gulp 4

[2019-05-11 14:36] #156 closed, assigned to nobody

[2019-05-11 14:38] phated commented on #153
I'm going to close this as outdated.  This module is just a tiny wrapper around pug so any issues are likely to be inside the core library.

[2019-05-11 14:38] #153 closed, assigned to nobody

[2019-05-11 14:38] phated commented on #161
I'm going to close this due to inactivity.

[2019-05-11 14:38] #161 closed, assigned to nobody

[2019-05-11 14:39] phated commented on #163
I'm going to close this due to inactivity.

[2019-05-11 14:39] #163 closed, assigned to nobody

[2019-05-11 14:39] phated commented on #164
Yeah, that's a pug thing. Closing this.

[2019-05-11 14:39] #164 closed, assigned to nobody

[2019-05-11 14:53] phated opened #204 "Where do the types/* dependencies belong?"
I noticed that the dependencies for `@types/pug` are in `dependencies` but the `@types/node` are in the `devDependencies` - shouldn't these both be in the same place? Which one is correct?

cc @demurgos

[2019-05-11 18:41] demurgos commented on #204
In the good old days before `@types/*`, it was simpler :smile:

Typescript supports two kinds of declarations: ambient (global) declarations and external module declarations. Global declarations are used to describe what's available in the environment (e.g. Node, Mocha tests, Electron). External declarations describe content you can require/import from other modules.

Before `@types/*`, type decla

[2019-05-11 18:55] phated commented on #204
Couldn't they be in peerDependencies and devDeps?

[2019-05-11 19:00] demurgos commented on #204
`@types/*` packages should have the same type as the corresponding implementation package. If `foo` is a `peerDependency` then `@types/foo` should be a peer dependency. If `bar` is a `dependency` then `@types/bar` should be a regular dependency. It helps ensuring that the declaration and implementation live at the same level in the dependency tree and are picked up properly.

`@types/node` is a sp

[2019-05-11 19:03] demurgos commented on #204
By the way, `@types/*` is not only useful for Typescript users. It powers the VS Code's and Jetbrains autocompletion/quick doc/refactoring, so it's another reason why the dependency types should match. I wrote [a small post about it](https://demurgos.net/blog/2018/09/19/why-type-definitions/).

[2019-05-14 10:40] phated commented on #204
@demurgos sounds good!  Thanks for the insight 😄

[2019-05-14 10:40] #204 closed, assigned to nobody

[2019-06-28 19:56] AntonGrekov opened #205 "How to browse errors with gulp-pug ?"
I am using gulp-pug v4
Errors shown in this way:

[22:55:23] Starting 'pug'...
[22:55:23] Finished 'pug' after 2.28 ms
[22:55:23] Starting 'reloadHTML'...
[22:55:23] Finished 'reloadHTML' after 643 μs
[22:55:23] Unexpected token (289:5)

289 is a line number in concatinaited pug file after insterting all includes, blocks etc

How to switch it to more verbose way ?

[2019-07-02 19:14] demurgos commented on #205
I don't believe it is currently available. An error formatting/reporting option would be nice.

[2020-06-06 08:58] khalyomede opened #207 "Upgrade to Pug version 3"
New Pug version is out! I always use this package when working with Gulp, would be cool to have it follow the new version of Pug as well :)

[2020-07-26 11:49] yukal commented on #194
If anyone still uses it in the projects, you can do it more carefully and elegant using a little trick with the [gulp-json-loader](https://github.com/yukal/gulp-json-loader)

[2021-01-19 21:45] Mostafa-T opened #213 "Pug({ pretty: 'true'}) Property issue"
when I used pug option to make the compiled html pretty it added (true) as a string in line escapes like the code below
[code]

[2021-01-20 15:21] dippas commented on #213
its a boolean, should be `pretty: true`

[2021-01-20 15:40] dippas opened #214 "Self closing tags not being applied"
In Pug engine, the self closing tags are working as expected

for instances:

PUG

[code]
in HTML

[code]

but then using `gulp-pug`, it does this:

  PUG

[code]
in HTML

[code]

[2021-01-21 04:23] phated commented on #213
@dippas thanks for answering this!

[2021-01-21 04:23] #213 closed, assigned to nobody

[2021-01-21 04:25] phated commented on #214
What version of `pug`? I noticed that #207 is requesting a new version.

[2021-01-21 05:14] phated commented on #205
The error should be shown before `Finished 'pug' after 2.28 ms`, so you'll probably need to include more information, such as your gulpfile, for this to be helpful.

[2021-01-21 05:14] #205 closed, assigned to nobody

[2021-01-21 09:48] dippas commented on #214
@phated  both v2 and v3

v2: https://pugjs.org/api/migration-v2.html#selfclosing
v3: https://pugjs.org/language/tags.html

related : https://github.com/pugjs/pug/issues/2875 (this is for v1)

Apparently changing `doctype html` to `doctype html5` it works, but the latter is not a standard doctype - [w3c doctype list](https://www.w3.org/QA/2002/04/valid-dtd-list.html)

[2021-03-04 21:52] ekfuhrmann opened #218 "High Severity Vulnerability"
[code]

Updating to pug v3 as suggested in #207 would resolve the vulnerability. Unfortunately, I'm not so sure this repo is being supported any longer, but figured I may as well post this nonetheless.

PR Submitted for fix #217

[2021-03-04 22:06] phated commented on #218
Don't take user input passed directly to a gulp plugin...

[2021-03-04 22:06] #218 closed, assigned to nobody

[2021-04-19 19:22] GeorgiiZhuravlev commented on #218
I have the same report and I have no idea what it means:

[2021-06-09 03:50] #198 closed, assigned to nobody

[2021-06-09 03:52] phated commented on #127
It looks like this is now the default for `compileClient` according to the pug docs.

[2021-06-09 03:52] #127 closed, assigned to nobody

[2021-06-09 04:01] #188 closed, assigned to demurgos

[2021-06-09 04:19] #207 closed, assigned to nobody

[2021-06-09 04:24] phated commented on #207
Released as 5.0.0

[2021-06-15 17:15] #214 closed, assigned to nobody